services:
  devcontainer:
    image: mcr.microsoft.com/devcontainers/base:ubuntu
    volumes:
      - ..:/workspace:cached
      - /var/run/docker.sock:/var/run/docker.sock
    working_dir: /workspace
    # Keep the container running
    command: /bin/sh -c "while sleep 1000; do :; done"
    # Ensure app services are available
    depends_on:
      - backend
      - db
      - frontend
