name: Cleanup PR 32 Volume
on: push

jobs:
  nuke:
    runs-on: ubuntu-latest
    steps:
      - uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VDS_HOST }}
          username: ${{ secrets.VDS_USER }}
          key: ${{ secrets.VDS_SSH_KEY }}
          passphrase: ${{ secrets.VDS_SSH_PASSPHRASE }}
          script: |
            docker volume rm trackandfeel-pr-32_db_data || true
            docker compose -p trackandfeel-pr-32 down -v --remove-orphans || true
